.movies ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 40px;
}

.movies img {
  width: 100%;
  filter: grayscale(80%)
}

.movies img:hover{
  filter: grayscale(0%)
}