.tech li{
  border: 1px solid var(--primary);
  padding: 10px;
  margin: 5px 20px;
  list-style: none;
}

.low{
  background-color: rgba(45, 110, 45, 0.56)
}

.mid{
  background-color: rgba(227, 165, 51, 0.526);
}

.high{
  background-color: rgba(220, 20, 60, 0.531);
}