header {
  height: 14vh;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
}

header ul {
  display: flex;
  gap: 20px;
}

header button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 20px;

}
