main {
  min-height: calc(100vh - 80px - 150px);
}

.search {
  text-align: center;
}

.search > input {
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
}

.search > input:focus {
  outline: 2px solid var(--secondary);
}

.result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.result img {
  width: 100%;
  height: auto;
  padding-top: 10px;
}
